[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "==2.1.0"
python-dotenv = "*"

[dev-packages]
black = "*"
jishaku = "*"

[requires]
python_version = "3.11"
